[package]
name = "felyne-bot"
version = "0.2.0"
authors = ["Kyle Simpson <kyleandrew.simpson@gmail.com>"]
edition = "2018"

[profile.release]
lto = true

[dependencies]
bincode = "1"
env_logger = "0.5"
log = "0.4"
rusqlite = "0.13"
rand = "0.6"
serde = { version = "1", features = ["derive"] }

[dependencies.serenity]
features = ["cache", "framework", "standard_framework", "voice", "utils"]
#version = "0.5"
# path = "../serenity/"
#git = "https://github.com/FelixMcFelix/serenity.git"
git = "https://github.com/serenity-rs/serenity.git"
#branch = "voice-event-changes"
branch = "v0.6.x"

[patch.crates-io]
audiopus = { git = "https://github.com/Lakelezz/audiopus", branch = "stable-changes" }
